/* Regular styles for screen */
.cust ul {
  list-style: none;       /* Remove default bullets */
  padding-left: 0.5rem;   /* Indent bullets */
}

.cust ul li {
  display: flex;
  align-items: flex-start; /* Align bullet and text */
  margin-bottom: 3px;      /* Space between list items */
}

.custom {
  font-size: 10px;
}

.cust ul li::before {
  content: "•";            /* Custom bullet */
  margin-right: 10px;      /* Space between bullet and text */
  line-height: 1;          /* Ensure bullet aligns properly */
}

